<%= simple_form_for @resource do |f| %>
  <%= f.input :content %>
  <%= f.input :pattern %>
  <div id="actions" class="row mt-3">
    <div class="col-12 text-center">
      <%= link_to "Back", :back, class: "btn btn-sm btn-outline-dark" %>
      <%= f.submit "Save", class: "btn btn-sm btn-primary" %>
    </div>
  </div>
<% end %>
