<tr>
  <th scope="row"><%= resource.id %></th>
  <td><%= resource.content %></td>
  <td><%= resource.pattern %></td>
  <td><%= resource.entities.size %></td>
  <td>
    <%= link_to "Edit", edit_sentence_path(resource), class: "btn btn-sm btn-warning" %>
  </td>
</tr>
