<tr id="<%= dom_id(resource) %>">
  <th scope="row"><%= resource.id %></th>
  <td>
    <%= resource.entified? ? formatted_pattern(resource).html_safe : resource.content %>
  </td>
  <td><%= resource.entities.size %></td>
  <td class="text-end">
    <%= link_to "Manage entities", new_sentence_entity_path([resource]), class: "btn btn-sm btn-outline-primary" %>
    <%= link_to "Edit", edit_sentence_path(resource), class: "btn btn-sm btn-outline-warning" %>
  </td>
</tr>
