<div class="row mt-3">
  <div class="col-12 col-md-8 mx-auto mb-3">
    <%= tag.h3 "Manage entities for Sentence (# #{@sentence.id}):" %>
    <%= tag.h6 @sentence.content %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12 col-md-8 mx-auto">
    <%= simple_form_for [@sentence, @resource] do |f| %>
      <% if @resource.errors.any? %>
        <div class="error-message">
          <%= @resource.errors.full_messages.to_sentence.capitalize %>
        </div>
      <% end %>
      <div class="row">
        <div class="col-12 col-md-3 mb-3">
          <% if @sentence.entities.present? %>
            <h5>Entities available:</h5>
            <ul>
              <% @sentence.entities.each do |entity| %>
                <li class="mb-2"><%= entity_formatted(entity).html_safe %></li>
              <% end %>
            </ul>
          <% else %>
            <h5>No entities created yet</h5>
          <% end %>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <%= f.input :body, label: "Select word(s):",
                              as: :check_boxes,
                              collection: @sentence.words(except: true), 
                              item_wrapper_class: "inline" %>
        </div>
        <div class="col-12 col-md-5 mb-3">
          <%= f.input :etype, as: :select,
                              label: "Define TYPE:", 
                              collection: Entity.etypes.map { |v,k| [v.upcase, v]},
                              prompt: "Select type for new Entity",
                              selected: "" %>
        </div>
      </div>
      <div class="row">
        <div id="actions" class="row mt-3">
          <div class="col-12 col-md-10 text-end">
            <%= link_to "Back to Sentences", sentences_path, class: "btn btn-sm btn-outline-dark" %>
            <%= f.submit "Save", class: "btn btn-sm btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
